mat-toolbar {
    justify-content: center;
}

mat-toolbar img {
    width: 50px;
}

mat-toolbar h1 {
    font-size: 30px;
}

main {
    width: 600px;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

app-todo-form,
app-todo-list {
    width: 100%;
}